
:root {
  --primary: #F26457;
  --secondary: #497980;
  --tertiary:#D9B19A;
  --purple: #595FD9;
  --white: #f2f2f2;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0; }



.soother-title {
position: absolute;
width: 177px;
height: 42px;
left: 1141px;
top: 60px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
display: flex;
align-items: center;
text-align: right;
color: #03A688;
}

/*.hello {
    position: absolute;
    left: 122px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    color: #03A688;
}*/



.page-title {
    position: absolute;
    width: 1196px;
    height: 88px;
}

.img-reader {
    position: absolute;
width: 67px;
height: 80px;

background: url(.png), #FFFFFF;
}

.callout {
    position: relative;
    margin: 0 0 1rem 0;
    padding: 1rem;
    border: 1px solid rgba(10, 10, 10, 0.25);
    border-radius: 0;
    background-color: white;
    color: #0a0a0a; }
    .callout.small {
        padding-top: 0.5rem;
        padding-right: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.5rem; };
    .callout.large {
        padding-top: 3rem;
        padding-right: 3rem;
        padding-bottom: 3rem;
        padding-left: 3rem; };


.quote-bckg {
    background: linear-gradient(231.94deg, #F26457 32.37%, #595FD9 56.12%);
border-radius: 21px;
}

.btn {

}

.btn:hover {

}

/* Small only */
@media screen and (max-width: 39.9375em) {}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}