foundation-palette {
    --primary: #F26457;
    --secondary: #03A688;
    --tertiary:#F28177;
    --purple: #595FD9;
    --orange: #F2913D;
    --white: #f2f2f2;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0; }

.quote {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: lighter;
    font-size: 24px; 
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.title {
    clear: both;
}
.soother-title {
    font-family: Roboto;
    color: #03A688;
    text-align: left;
    display: inline;
    font-size:vw;
    padding-bottom: 1rem;
}

.reader {
    width: 56px;
    height: 56px;
    padding-left: 0.8rem;
    padding-bottom: 1rem;
    display: inline;
}

.hello {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    color: #03A688;
    float: right;
    padding-top: 1.5rem;
    font-size:2vw;
}

.img-reader {
    position: absolute;
    width: 67px;
    border-radius: 21px;
}

/* change quote background colors */

.quote-bckg {
background: linear-gradient(231.94deg, #F2813D 32.37%, #595FD9 56.12%);
border-radius: 21px;
opacity: 0.8;
}

.start {
    background: linear-gradient(231.94deg, #F2813D 32.37%, #595FD9 56.12%);
    opacity: 0.8;
}

.sky {
    background: linear-gradient(98deg, #F28177 30%,#F2913D 70%);
    opacity: 0.8;
}

.sea {
    background: linear-gradient(138deg, #03A688 41%, #595FD9 59%);
    opacity: 0.8;
}

.peach {
    background: linear-gradient(98deg,#F2913D 33%,#03A688 70%);
    opacity: 0.8;
}

.search-form {
    background-image: url("magnifying_glass.png");
    /*background-position: 0.625rem 0.625rem;*/
    background-position: center left;
    border-radius: 21px;
    background-repeat: no-repeat;
    background-size: 1rem;
    /*padding: 0.75rem 1.25rem 0.75rem 2rem;*/
    padding: 1.2rem;
} 

h5 {
    color: #03A688;
    text-align: center;
}

li {
    color: #595FD9;
}

li:hover {
    color: #F2913D;
}

a:hover {
    color: #F2913D;
}
.outer-results {
    border-radius: 21px;
    background: linear-gradient(98deg, #595FD9 32.37%, #03A688 56.12%);
    opacity: 0.8;
}

.callout.later-results.saved {
    background: linear-gradient(180deg, rgba(3, 166, 136, 0.8) 0%, rgba(89, 95, 217, 0.8) 51.56%, rgba(242, 100, 87, 0.8) 100%);
}

.saved {
    background: f2f2f2;
}

.results {
    border-radius: 21px;
    width: 100%;

}

.read {
    color: #0FA697;
    font-size: 36px;
    line-height: 42px;
    align-items: center;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 1rem;
}

.searchterms {
    color: #0d8d80;
    font-size: 20px;
    line-height: 10px;
    align-items: center;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* padding-bottom: 1rem; */
}

.searchedlist {
    color: #0FA697;
    font-size: 20px;
    line-height: 25px;
}

.later-results {
    border-radius: 21px;
    border-color: #03A688;
}

.term-btn {
    font-size: 5px;
    vertical-align: bottom;
    margin: 5px;
    font-weight: bolder;
}

/* .btn {

#saveLink {
    color: #0FA697;
    font-size: 20px;
    line-height: 25px;
}
.btn:hover {
} */


.later-results {
    border-radius: 21px;
    border-color: #03A688;
}

.newspaper {
    position: absolute;
    opacity: 0.2;
}

.callout {
    color: #F28177;
}

.callout:hover {
    color: #595FD9;
}

.callout p {
    color:  #595FD9;
}