
foundation-palette {
    --primary: #F26457;
    --secondary: #497980;
    --tertiary:#D9B19A;
    --purple: #595FD9;
    --white: #f2f2f2;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0; }

.quote {
    color: white;
    font-family: roboto;
    font-style: italic;
    font-weight: 200;
    font-size: 34px; 
    align-items: center;  
}

.soother-title {
font-family: Roboto;
color: #03A688;
}

/*.hello {

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    color: #03A688;
}*/



.img-reader {
    position: absolute;
    width: 67px;
    height: 80px;
    background: url(.png), #FFFFFF;
}

.quote-bckg {
background: linear-gradient(231.94deg, #F26457 32.37%, #595FD9 56.12%);
border-radius: 21px;
}

.read {
    
}

.search-form {
    border-radius: 21px;
    background-image: url("magnifying_glass.png");
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 1rem;
    padding: 1.2rem;
} 

.outer-results {
    border-radius: 21px;
    background: #03A688;
}

.results {
    border-radius: 21px
}

.btn {

}

.btn:hover {

}
